.header {
  margin-bottom: 37px;
  &__top {
    background: #203B70;
    padding: 6px 0;
    margin-bottom: 10px;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

  &__location,
  &__tel,
  &__write {
    font-size: 10px;
    line-height: 14px;
    color: #EE6616;
    border: unset;
    background: transparent;
    transition: .3s linear;
    &:hover {
      color: #fff;
      .header__contact-img {
        fill: #fff;
      }
    }
    &.contact {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  &__tel-write {
    display: flex;
    gap: 20px;
  }
  &__location {
    .header__contact-img-outer {
      width: 15px;
    }
  }
  &__tel,
  &__write {
    .header__contact-img-outer {
      width: 24px;
    }
  }
  &__contact {
    &-img {
      width: 100%;
      height: 100%;
      fill: #EE6616;
      transition: .3s linear;
      &-outer {
        height: 24px;
      }
    }
  }

  &__logo-contacts-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__logo {
    &-outer {
      width: 100px;
      height: 92px;
    }
    width: 100%;
    height: 100%;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    line-height: 31px;
    font-family: 'Koryaka-Free', sans-serif;
    &-span {
      margin-top: 3px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__link {
    &-list {
      display: flex;
      gap: 20px;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    &:hover {
      .header__link-img {
        fill: #203B70;
      }
      .header__link-span {
        color: #203B70;
      }
    }

    &-img {
      width: 46px;
      height: 46px;
      fill: #EE6616;
      transition: .3s linear;
    }
    &-num {
      position: absolute;
      right: 3px;
      font-weight: bold;
      font-size: 10px;
      line-height: 0px;
      display: flex; 
      align-items: center;
      justify-content: center;
      text-align: center;
      top: -2px;
      width: 18px;
      height: 18px;
      color: #fff;
      background: #203B70;
      border-radius: 50%;
    }
    &-span {
      font-size: 10px;
      line-height: 10px;
      text-align: center;
      color: #EE6616;
      transition: .3s linear;
    }
  }
  &__product-menu-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Koryaka-Free', sans-serif;
    width: 250px;
    height: 50px;
    background: #EE6616;
    border-radius: 3px;
    transition: .3s linear;
    font-size: 22px;
    line-height: 20px;
    color: #FFFFFF;
    &:hover {
      background: #da5b11;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-right: 100px;
    &-item {
      position: relative;
      &:hover {
        .header__menu-submenu {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
          transform: translateY(0);
        }
      }
    }
    &-link {
      text-decoration: underline transparent;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #EE6616;
      transition: .3s linear;
      &:hover {
        text-decoration: underline;
        font-weight: 700;
        .header__menu-link-down {
          transform: translateY(3px);
        }
      }
      &-down {
        fill: #EE6616;
        width: 13px;
        height: 13px;
        transition: .3s linear;
      }
    }
    &-submenu {
      position: absolute;
      display: flex;
      flex-direction: column;
      background: rgba(32, 59, 112, 0.9);
      border-radius: 4px;
      width: max-content;
      padding: 5px 10px;
      transition: .3s linear;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-10px);
      &-link {
        color: #fff;
        text-decoration: underline transparent;
        transition: .3s linear;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__search {
    &-form {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &-input {
      border: unset;
      padding-bottom: 2px;
      padding-left: 0;
      background: transparent;
      font-size: 14px;
      line-height: 21px;
      color: #404040;
      border-bottom: 1px solid #203B70;
      outline: none;
      &::placeholder {
        color: #404040;
      }
    }
    &-button {
      width: 22px;
      height: 22px;
      padding: 0;
      margin: 0;
      border: unset;
      background: transparent;
      &:hover {
        .header__search-button-img {
          fill: #203B70;
        }
      }
      &-img {
        width: 100%;
        height: 100%;
        fill: #EE6616;
        transition: .3s linear;
      }
    }
  }
}
