.assortiment {
  margin-bottom: 32px;

  &__title {
    color: #203B70;
    margin-bottom: 18px;
  }

  &__card {
    &-outer {
      display: flex;
      flex-wrap: wrap;
      gap: 23px;
    }
    width: 305px;
    height: 305px;
    position: relative;
    border-radius: 4px;
    &:hover {
      .assortiment__card-bg {
        opacity: .5;
      }
      .assortiment__card-title {
        background: rgba(238, 102, 22, 0.5);
      }
    }
    &-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .3s linear;
    }
    &-num {
      font-size: 18px;
      line-height: 21px;
      color: #fff;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    &-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(32, 59, 112, 0.5);
      border-radius: 0px 0px 4px 4px;
      bottom: 0;
      width: 100%;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 29px;
      transition: .3s linear;
    }
  }
}
