<section class="advv">
  <div class="container">
    <div class="advv__inner">
      <h3 class="advv__title title">
        Наши преимущества
      </h3>
      <div class="advv__card-outer">
        <div class="advv__card">
          <div class="advv__card-img-outer">
            <img class="advv__card-img" src="img/adv_1.svg" alt="img">
          </div>
          Фермерские продукты
        </div>
        <div class="advv__card">
          <div class="advv__card-img-outer">
            <svg class='advv__card-img'>
              <use xlink:href='img/sprite.svg#adv_2'></use>
            </svg>
          </div>
          Быстрая доставка
        </div>
        <div class="advv__card">
          <div class="advv__card-img-outer">
            <img class="advv__card-img" src="img/adv_3.svg" alt="img">
          </div>
          Любимые рецепты
        </div>
        <div class="advv__card">
          <div class="advv__card-img-outer">
            <img class="advv__card-img" src="img/adv_4.svg" alt="img">
          </div>
          Нам доверяют
        </div>
      </div>
      <div class="advv__second-title">
        Что такое органические продукты?
      </div>
      <div class="advv__textt">
        Фермерские продукты могут быть не только овощи и фрукты, но и мясо, молоко, рыба, а также переработанные
        продукты (например печенье), если они сделаны из органических ингредиентов. Если коротко, то это продукты,
        которые производят без применения химических удобрений, синтетических гербицидов и инсектицидов, ГМО, а также
        антибиотиков для лечения сельскохозяйственных животных. Сами животные, по органическим стандартам, не должны
        находиться в тесных стойлах или клетках (регламентируется норма площади на голову), им необходим свободный выпас
        и выгул.
        <br>
        <br>
        Чтобы продукт считался органическим, он должен пройти соответствующую сертификацию. На этикетках такие продукты
        обозначаются по-разному в зависимости от того, какая организация их сертифицирует. Переработанный продукт можно
        назвать органическим, если сертифицировано 95 % его ингредиентов. Не бывает только органических воды и соли – их
        химические формулы настолько просты, что сертификация не имеет смысла.
      </div>
    </div>
  </div>
</section>
