<section class="all-products">
  <div class="container">
    <div class="all-products__inner">
      <div class="all-products__tab-btn-outer category">
        <a class="all-products__tab-btn" href="all.html">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-1.png" alt="img">
          </div>
          Консервация
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-2.png" alt="img">
          </div>
          Кондитерские изделия и десерты
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-3.png" alt="img">
          </div>
          Молочные продукты
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-4.png" alt="img">
          </div>
          Мясная гастрономия
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-1.png" alt="img">
          </div>
          Консервация
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-2.png" alt="img">
          </div>
          Кондитерские изделия
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-3.png" alt="img">
          </div>
          Молочные продукты
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-4.png" alt="img">
          </div>
          Мясная гастрономия
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-1.png" alt="img">
          </div>
          Консервация
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-3.png" alt="img">
          </div>
          Молочные продукты
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-2.png" alt="img">
          </div>
          Консервация
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-4.png" alt="img">
          </div>
          Кондитерские изделия
        </a>
      </div>
      <div class="all-products__tab-content-outer">
        <div class="all-products__tab-content" id='all-products-tab-1'>
          <h4 class="all-products__tab-content-title title">Кондитерские изделия и десерты</h4>
          <div class="all-products__inner-outer">
            <div class="all-products__inner-link-outer">
              <a class="all-products__inner-link" href="all.html">
                Пироженое
              </a>
              <a class="all-products__inner-link" href="#">
                Десертные пасты и сиропы
              </a>
              <a class="all-products__inner-link" href="#">
                Шоколад
              </a>
              <a class="all-products__inner-link" href="#">
                Варенья, джемы
              </a>
              <a class="all-products__inner-link" href="#">
                Десертные пасты и сиропы
              </a>
              <a class="all-products__inner-link" href="#">
                Шоколад
              </a>
            </div>
            <div class="all-products__inner-content-outer">
              <div class="all-products__inner-content" id='all-products-inner-1'>
                <div class="category-card__card-outer">
                  <div class="category-card__card">
                    <div class="category-card__card-additional-outer">
                      <div class="category-card__card-additional orange">
                        Новинка сезона
                      </div>
                      <div class="category-card__card-additional green">
                        Постное
                      </div>
                    </div>
                    <a class="category-card__card-img-outer" href="one.html">
                      <img class="category-card__card-img" src="img/popular-1.png" alt="img">
                    </a>
                    <div class="category-card__card-info">
                      <a class="category-card__card-title title" href="one.html">
                        Сыр "Пенёчек с Вялеными томатами и Зеленью"
                      </a>
                      <div class="category-card__card-price-star-amount">
                        <div class="category-card__card-price-star">
                          <div class="category-card__card-price">
                            530 ₽ <span class="category-card__card-price-span">/ 180 грамм</span>
                          </div>
                          <div class="category-card__card-star-outer">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                          </div>
                        </div>
                        <div class="category-card__card-amount-outer">
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/minus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                          <div class="category-card__card-amount">0</div>
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/plus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="category-card__card">
                    <div class="category-card__card-additional-outer">
                      <div class="category-card__card-additional orange">
                        Новинка сезона
                      </div>
                      <div class="category-card__card-additional green">
                        Постное
                      </div>
                    </div>
                    <a class="category-card__card-img-outer" href="#">
                      <img class="category-card__card-img" src="img/popular-2.png" alt="img">
                    </a>
                    <div class="category-card__card-info">
                      <a class="category-card__card-title title" href="#">
                        Уксус "Медово-перговый светлый"
                      </a>
                      <div class="category-card__card-price-star-amount">
                        <div class="category-card__card-price-star">
                          <div class="category-card__card-price">
                            <span class="category-card__card-price-old">3400₽</span> 2530₽ <span
                              class="category-card__card-price-span">/ 1 шт.</span>
                          </div>
                          <div class="category-card__card-star-outer">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                          </div>
                        </div>
                        <div class="category-card__card-amount-outer">
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/minus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                          <div class="category-card__card-amount">0</div>
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/plus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="category-card__card">
                    <div class="category-card__card-additional-outer">
                      <div class="category-card__card-additional orange">
                        Новинка сезона
                      </div>
                      <div class="category-card__card-additional green">
                        Постное
                      </div>
                    </div>
                    <a class="category-card__card-img-outer" href="#">
                      <img class="category-card__card-img" src="img/popular-3.png" alt="img">
                    </a>
                    <div class="category-card__card-info">
                      <a class="category-card__card-title title" href="#">
                        Варенье «Клюквенная тыква»
                      </a>
                      <div class="category-card__card-price-star-amount">
                        <div class="category-card__card-price-star">
                          <div class="category-card__card-price">
                            530 ₽ <span class="category-card__card-price-span">/ 180 грамм</span>
                          </div>
                          <div class="category-card__card-star-outer">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                          </div>
                        </div>
                        <div class="category-card__card-amount-outer">
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/minus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                          <div class="category-card__card-amount">0</div>
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/plus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="category-card__card">
                    <div class="category-card__card-additional-outer">
                      <div class="category-card__card-additional orange">
                        Новинка сезона
                      </div>
                      <div class="category-card__card-additional green">
                        Постное
                      </div>
                    </div>
                    <a class="category-card__card-img-outer" href="#">
                      <img class="category-card__card-img" src="img/popular-1.png" alt="img">
                    </a>
                    <div class="category-card__card-info">
                      <a class="category-card__card-title title" href="#">
                        Сыр "Пенёчек с Вялеными томатами и Зеленью"
                      </a>
                      <div class="category-card__card-price-star-amount">
                        <div class="category-card__card-price-star">
                          <div class="category-card__card-price">
                            530 ₽ <span class="category-card__card-price-span">/ 180 грамм</span>
                          </div>
                          <div class="category-card__card-star-outer">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                          </div>
                        </div>
                        <div class="category-card__card-amount-outer">
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/minus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                          <div class="category-card__card-amount">0</div>
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/plus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="category-card__card">
                    <div class="category-card__card-additional-outer">
                      <div class="category-card__card-additional orange">
                        Новинка сезона
                      </div>
                      <div class="category-card__card-additional green">
                        Постное
                      </div>
                    </div>
                    <a class="category-card__card-img-outer" href="#">
                      <img class="category-card__card-img" src="img/popular-2.png" alt="img">
                    </a>
                    <div class="category-card__card-info">
                      <a class="category-card__card-title title" href="#">
                        Уксус "Медово-перговый светлый"
                      </a>
                      <div class="category-card__card-price-star-amount">
                        <div class="category-card__card-price-star">
                          <div class="category-card__card-price">
                            <span class="category-card__card-price-old">3400₽</span> 2530₽ <span
                              class="category-card__card-price-span">/ 1 шт.</span>
                          </div>
                          <div class="category-card__card-star-outer">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                          </div>
                        </div>
                        <div class="category-card__card-amount-outer">
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/minus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                          <div class="category-card__card-amount">0</div>
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/plus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="category-card__card">
                    <div class="category-card__card-additional-outer">
                      <div class="category-card__card-additional orange">
                        Новинка сезона
                      </div>
                      <div class="category-card__card-additional green">
                        Постное
                      </div>
                    </div>
                    <a class="category-card__card-img-outer" href="#">
                      <img class="category-card__card-img" src="img/popular-3.png" alt="img">
                    </a>
                    <div class="category-card__card-info">
                      <a class="category-card__card-title title" href="#">
                        Варенье «Клюквенная тыква»
                      </a>
                      <div class="category-card__card-price-star-amount">
                        <div class="category-card__card-price-star">
                          <div class="category-card__card-price">
                            530 ₽ <span class="category-card__card-price-span">/ 180 грамм</span>
                          </div>
                          <div class="category-card__card-star-outer">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                            <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                          </div>
                        </div>
                        <div class="category-card__card-amount-outer">
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/minus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                          <div class="category-card__card-amount">0</div>
                          <button class="category-card__card-amount-btn amount-btn-down">
                            <img src="img/plus.svg" alt="img" class="category-card__card-amount-btn-img">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="all-products__page-pagination">
          <a class="all-products__page all-products__page-arrow all-products__page-arrow-prev" href='#'>
            <svg class='all-products__page-arrow-img'>
              <use xlink:href="img/sprite.svg#page-prev"></use>
            </svg>
          </a>

          <a class="all-products__page" href='#'>1</a>
          <a class="all-products__page" href='#'>2</a>
          <a class="all-products__page" href='#'>3</a>
          <div class="all-products__page-ellipsis all-products__page">...</div>
          <a class="all-products__page" href='#'>9</a>

          <a class="all-products__page all-products__page-arrow all-products__page-arrow-next" href="#">
            <svg class='all-products__page-arrow-img'>
              <use xlink:href="img/sprite.svg#page-next"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
