<section class="assortiment">
  <div class="container">
    <div class="assortiment__inner">
      <h3 class="assortiment__title title">
        Наш ассортимент
      </h3>
      <div class="assortiment__card-outer">
        <a class="assortiment__card" href='#'>
          <img class="assortiment__card-bg" src="img/assorti-1.jpg" alt="img">
          <div class="assortiment__card-num">
            54 товара
          </div>
          <div class="assortiment__card-title title">
            Мясная гастрономия
          </div>
        </a>
        <a class="assortiment__card" href='#'>
          <img class="assortiment__card-bg" src="img/assorti-2.jpg" alt="img">
          <div class="assortiment__card-num">
            54 товара
          </div>
          <div class="assortiment__card-title title">
            Мясная гастрономия
          </div>
        </a>
        <a class="assortiment__card" href='#'>
          <img class="assortiment__card-bg" src="img/assorti-3.jpg" alt="img">
          <div class="assortiment__card-num">
            54 товара
          </div>
          <div class="assortiment__card-title title">
            Мясная гастрономия
          </div>
        </a>
        <a class="assortiment__card" href='#'>
          <img class="assortiment__card-bg" src="img/assorti-4.jpg" alt="img">
          <div class="assortiment__card-num">
            54 товара
          </div>
          <div class="assortiment__card-title title">
            Мясная гастрономия
          </div>
        </a>
        <a class="assortiment__card" href='#'>
          <img class="assortiment__card-bg" src="img/assorti-4.jpg" alt="img">
          <div class="assortiment__card-num">
            54 товара
          </div>
          <div class="assortiment__card-title title">
            Мясная гастрономия
          </div>
        </a>
        <a class="assortiment__card" href='#'>
          <img class="assortiment__card-bg" src="img/assorti-3.jpg" alt="img">
          <div class="assortiment__card-num">
            54 товара
          </div>
          <div class="assortiment__card-title title">
            Мясная гастрономия
          </div>
        </a>
        <a class="assortiment__card" href='#'>
          <img class="assortiment__card-bg" src="img/assorti-2.jpg" alt="img">
          <div class="assortiment__card-num">
            54 товара
          </div>
          <div class="assortiment__card-title title">
            Мясная гастрономия
          </div>
        </a>
        <a class="assortiment__card" href='#'>
          <img class="assortiment__card-bg" src="img/assorti-1.jpg" alt="img">
          <div class="assortiment__card-num">
            54 товара
          </div>
          <div class="assortiment__card-title title">
            Мясная гастрономия
          </div>
        </a>
      </div>
    </div>
  </div>
</section>