<section class="banner">
  <div class="container">
    <div class="banner__inner">
      <div class="banner__slider swiper">
        <div class="banner__slider-wrapper swiper-wrapper">
          <div class="banner__slider-slide swiper-slide">
            <div class="banner__slider-inner">
              <img class="banner__slider-bg" src="img/banner-slider-1.jpg" alt="img">
              <h4 class="banner__slider-title">
                Сырное ассорти
              </h4>
              <div class="banner__slider-subtitle">
                Сырная тарелка – это ассорти из благородных сыров красиво и аппетитно выложенных на специальной посуде.
                Это любимая закуска многих людей, а её приготовление занимает не больше десяти минут.
              </div>
              <a class="banner__slider-link" href="#">Подробнее...</a>
            </div>
          </div>
          <div class="banner__slider-slide swiper-slide">
            <div class="banner__slider-inner">
              <img class="banner__slider-bg" src="img/banner-slider-1.jpg" alt="img">
              <h4 class="banner__slider-title">
                Сырное ассорти
              </h4>
              <div class="banner__slider-subtitle">
                Сырная тарелка – это ассорти из благородных сыров красиво и аппетитно выложенных на специальной посуде.
                Это любимая закуска многих людей, а её приготовление занимает не больше десяти минут.
              </div>
              <a class="banner__slider-link" href="#">Подробнее...</a>
            </div>
          </div>
          <div class="banner__slider-slide swiper-slide">
            <div class="banner__slider-inner">
              <img class="banner__slider-bg" src="img/banner-slider-1.jpg" alt="img">
              <h4 class="banner__slider-title">
                Сырное ассорти
              </h4>
              <div class="banner__slider-subtitle">
                Сырная тарелка – это ассорти из благородных сыров красиво и аппетитно выложенных на специальной посуде.
                Это любимая закуска многих людей, а её приготовление занимает не больше десяти минут.
              </div>
              <a class="banner__slider-link" href="#">Подробнее...</a>
            </div>
          </div>
        </div>
        <div class="banner__slider-pagination swiper-pagination"></div>
      </div>
      <div class="banner__best">
        <img class="banner__best-bg" src="img/banner-best.jpg" alt="img">
        <div class="banner__best-title">
          Продукт недели
        </div>
        <a class="banner__best-link" href="#">
          Подробнее...
        </a>
      </div>
    </div>
  </div>
</section>
