<section class="cart">
  <div class="container">
    <div class="cart__inner">
      <div class="cart__your">
        <h3 class="cart__your-title">
          Ваш заказ
        </h3>
        <div class="cart__your-subtitle">
          Минимальная сумма заказа с доставкой - 1000₽
        </div>
        <div class="cart__card-outer">
          <div class="cart__card">
            <div class="cart__card-img-title">
              <div class="cart__card-img-outer">
                <img class="cart__card-img" src="img/assorti-1.jpg" alt="img">
              </div>
              <div class="cart__card-title">
                заголовок товара
              </div>
            </div>
            <div class="cart__card-amount-price-clean">
              <div class="cart__card-amount-outer">
                <button class="cart__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="cart__card-amount-btn-img">
                </button>
                <div class="cart__card-amount">1</div>
                <button class="cart__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="cart__card-amount-btn-img">
                </button>
              </div>
              <div class="cart__card-price-clean">
                <div class="cart__card-price">420 ₽</div>
                <button class="cart__card-clean">Удалить</button>
              </div>
            </div>
          </div>
        </div>
        <div class="cart__sum">
          <div class="cart__sum-title">
            Сумма заказа:
          </div>
          <div class="cart__sum-price">
            420 ₽
          </div>
        </div>
        <div class="cart__total">
          <div class="cart__total-title">
            Итого к оплате:
          </div>
          <div class="cart__total-price">
            420 ₽
          </div>
        </div>
      </div>
      <div class="cart__reg">
        <h4 class="cart__reg-title">
          Оформление
        </h4>
        <div class="cart__tab-outer">
          <div class="cart__tab-btn-outer">
            <button class="cart__tab-btn" data-cart-tab='#cart-tab-1'>
              Доставка курьером
            </button>
            <button class="cart__tab-btn" data-cart-tab='#cart-tab-2'>
              Забрать из ресторана
            </button>
          </div>
          <div class="cart__tab-content-outer">
            <div class="cart__tab-content" id='cart-tab-1'>
              <form class="cart__form" action="#">
                <div class="cart__form-block">
                  <div class="cart__form-title">
                    Личные данные
                  </div>
                  <label class="cart__label">
                    Имя *
                    <input class="cart__input" type="text" required>
                  </label>
                  <div class="cart__input-flex">
                    <label class="cart__label">
                      Телефон *
                      <input class="cart__input" type="text" required>
                    </label>
                    <label class="cart__label">
                      Email *
                      <input class="cart__input" type="text" required>
                    </label>
                  </div>
                </div>
                <div class="cart__form-block">
                  <div class="cart__form-title">
                    Адрес доставки
                  </div>
                  <div class="cart__input-flex">
                    <label class="cart__label">
                      Город *
                      <input class='cart__input' type="text" required>
                    </label>
                    <label class="cart__label">
                      Улица *
                      <input class='cart__input' type="text" required>
                    </label>
                    <label class="cart__label">
                      Email *
                      <input class='cart__input' type="text" required>
                    </label>
                  </div>
                  <label class="cart__label">
                    Комментарий
                    <textarea class='cart__textarea' name="cart__textarea" id=" cartTextArea"></textarea>
                  </label>
                </div>
                <div class="cart__form-block">
                  <div class="cart__form-title">
                    Способ получения
                  </div>
                  <div class="cart__input-flex">
                    <label class="cart__label radioLabel">
                      Лично в руки
                      <input class='cart__radio radioLabel-1 Contact' type="radio">
                      <span class="cart__radio-style"></span>
                    </label>
                    <label class="cart__label radioLabel">
                      Бесконтактная оплата
                      <input class='cart__radio radioLabel-1 NoContact' type="radio">
                      <span class="cart__radio-style"></span>
                    </label>
                  </div>
                </div>
                <div class="cart__form-block ContactBlock">
                  <div class="cart__form-title">
                    Способ оплаты
                  </div>
                  <div class="cart__input-flex">
                    <label class="cart__label radioLabel">
                      Наличными
                      <input class='cart__radio radioLabel-2' type="radio">
                      <span class="cart__radio-style"></span>
                    </label>
                    <label class="cart__label radioLabel">
                      Картой при получении
                      <input class='cart__radio radioLabel-2' type="radio">
                      <span class="cart__radio-style"></span>
                    </label>
                  </div>
                </div>
                <div class="cart__form-block">
                  <label class="cart__label change">
                    Сдача с:
                    <input class="cart__input" type="text">
                  </label>
                </div>
                <div class="cart__form-block">
                  <label class='cart__label checkLabel'>
                    <input class='cart__checkbox' type="checkbox">
                    <span class="cart__checkbox-style"></span>
                    Заказ ко времени
                  </label>
                </div>
                <div class="cart__form-for-continue">Для продолжения, заполните обязательные поля</div>
                <button class="cart__form-button" type='submit'>Заказать</button>
              </form>
            </div>
            <div class="cart__tab-content" id='cart-tab-2'>
              <form class="cart__form" action="#">
                <div class="cart__form-block">
                  <div class="cart__form-title">
                    Личные данные
                  </div>
                  <label class="cart__label">
                    Имя *
                    <input class="cart__input" type="text" required>
                  </label>
                  <div class="cart__input-flex">
                    <label class="cart__label">
                      Телефон *
                      <input class="cart__input" type="text" required>
                    </label>
                    <label class="cart__label">
                      Email *
                      <input class="cart__input" type="text" required>
                    </label>
                  </div>
                </div>
                <div class="cart__form-block">
                  <label class="cart__label change">
                    Сдача с:
                    <input class="cart__input" type="text">
                  </label>
                </div>
                <div class="cart__form-block">
                  <label class='cart__label checkLabel'>
                    <input class='cart__checkbox' type="checkbox">
                    <span class="cart__checkbox-style"></span>
                    Заказ ко времени
                  </label>
                </div>
                <div class="cart__form-for-continue">Для продолжения, заполните обязательные поля</div>
                <button class="cart__form-button" type='submit'>Заказать</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
