<section class="category-card">
  <div class="container">
    <div class="category-card__inner">
      <div class="category-card__card-outer">
        <div class="category-card__card">
          <div class="category-card__card-additional-outer">
            <div class="category-card__card-additional orange">
              Новинка сезона
            </div>
            <div class="category-card__card-additional green">
              Постное
            </div>
          </div>
          <a class="category-card__card-img-outer" href="#">
            <img class="category-card__card-img" src="img/popular-1.png" alt="img">
          </a>
          <div class="category-card__card-info">
            <a class="category-card__card-title title" href="#">
              Сыр "Пенёчек с Вялеными томатами и Зеленью"
            </a> 
            <div class="category-card__card-price-star-amount">
              <div class="category-card__card-price-star">
                <div class="category-card__card-price">
                  530 ₽ <span class="category-card__card-price-span">/ 180 грамм</span>
                </div>
                <div class="category-card__card-star-outer">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                </div>
              </div>
              <div class="category-card__card-amount-outer">
                <button class="category-card__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="category-card__card-amount-btn-img"> 
                </button>
                <div class="category-card__card-amount">0</div>
                <button class="category-card__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="category-card__card-amount-btn-img">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="category-card__card">
          <div class="category-card__card-additional-outer">
            <div class="category-card__card-additional orange">
              Новинка сезона
            </div>
            <div class="category-card__card-additional green">
              Постное
            </div>
          </div>
          <a class="category-card__card-img-outer" href="#">
            <img class="category-card__card-img" src="img/popular-2.png" alt="img">
          </a>
          <div class="category-card__card-info">
            <a class="category-card__card-title title" href="#">
              Уксус "Медово-перговый светлый"
            </a> 
            <div class="category-card__card-price-star-amount">
              <div class="category-card__card-price-star">
                <div class="category-card__card-price">
                  <span class="category-card__card-price-old">3400₽</span> 2530₽ <span class="category-card__card-price-span">/ 1 шт.</span>
                </div>
                <div class="category-card__card-star-outer">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                </div>
              </div>
              <div class="category-card__card-amount-outer">
                <button class="category-card__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="category-card__card-amount-btn-img">
                </button>
                <div class="category-card__card-amount">0</div>
                <button class="category-card__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="category-card__card-amount-btn-img">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="category-card__card">
          <div class="category-card__card-additional-outer">
            <div class="category-card__card-additional orange">
              Новинка сезона
            </div>
            <div class="category-card__card-additional green">
              Постное
            </div>
          </div>
          <a class="category-card__card-img-outer" href="#">
            <img class="category-card__card-img" src="img/popular-3.png" alt="img">
          </a>
          <div class="category-card__card-info">
            <a class="category-card__card-title title" href="#">
              Варенье «Клюквенная тыква»
            </a> 
            <div class="category-card__card-price-star-amount">
              <div class="category-card__card-price-star">
                <div class="category-card__card-price">
                  530 ₽ <span class="category-card__card-price-span">/ 180 грамм</span>
                </div>
                <div class="category-card__card-star-outer">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                </div>
              </div>
              <div class="category-card__card-amount-outer">
                <button class="category-card__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="category-card__card-amount-btn-img">
                </button>
                <div class="category-card__card-amount">0</div>
                <button class="category-card__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="category-card__card-amount-btn-img">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="category-card__card">
          <div class="category-card__card-additional-outer">
            <div class="category-card__card-additional orange">
              Новинка сезона
            </div>
            <div class="category-card__card-additional green">
              Постное
            </div>
          </div>
          <a class="category-card__card-img-outer" href="#">
            <img class="category-card__card-img" src="img/popular-4.png" alt="img">
          </a>
          <div class="category-card__card-info">
            <a class="category-card__card-title title" href="#">
              Макароны классические
            </a> 
            <div class="category-card__card-price-star-amount">
              <div class="category-card__card-price-star">
                <div class="category-card__card-price">
                  530 ₽ <span class="category-card__card-price-span">/ 180 грамм</span>
                </div>
                <div class="category-card__card-star-outer">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                  <img class="category-card__card-star" src="img/star-yellow.svg" alt="star">
                </div>
              </div>
              <div class="category-card__card-amount-outer">
                <button class="category-card__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="category-card__card-amount-btn-img">
                </button>
                <div class="category-card__card-amount">0</div>
                <button class="category-card__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="category-card__card-amount-btn-img">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>