<footer class="footer">
  <div class="footer__map-outer" id='map'>
    <iframe class='footer__map' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35858.91941912479!2d37.27280189847806!3d55.82479219036243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b546bd8dd80e5d%3A0x8d388d926024784d!2z0JrRgNCw0YHQvdC-0LPQvtGA0YHQuiwg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGP!5e0!3m2!1sru!2skz!4v1632251887378!5m2!1sru!2skz" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <img class="footer__logo-bg" src="img/logo-bg.svg" alt="img">
        <nav class="footer__list-outer">
          <ul class="footer__list">
            <li class="footer__list-title title">
              Наши реквизиты:
            </li>
            <li class="footer__list-item contact">
              ООО”ОООООООО”<br>
              ИНН 8888888888/888888888<br>
              ОГРН 8888888888888<br>
              <span class='footer__list-item-span'>Адрес:</span><br>
              123456, Россия, Московская область, г. Город, ул. Мирная, д. 14<br>
              <span class='footer__list-item-span'>Телефон:</span><br>
              +7 (123) 456-78-99<br>
              <span class='footer__list-item-span'>Email:</span><br>
              info@gmail.com
            </li>
          </ul>
          <ul class="footer__list menu">
            <li class="footer__list-title title">
              Информация
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Поставщики</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Доставка</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Оплата</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Отзывы о нас</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Гарантия качества</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Карта сайта</a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__list-title title">
              Формы оплаты
            </li>
            <li class="footer__list-item">
              <ul class="footer__sublist">
                <li class="footer__sublist-item">
                  <img class="footer__sublist-img" src="img/nal.svg" alt="img">
                  Наличный расчет
                </li>
                <li class="footer__sublist-item">
                  <img class="footer__sublist-img" src="img/card.svg" alt="img">
                  Банковские карты
                </li>
                <li class="footer__sublist-item">
                  <img class="footer__sublist-img" src="img/bank.svg" alt="img">
                  Банковский перевод
                </li>
              </ul>
            </li>
          </ul>
          <div class="footer__list">
            <ul class="footer__list">
              <li class="footer__list-title title">
                Мы в медиа
              </li>
              <li class="footer__list-item">
                <ul class="footer__sublist social">
                  <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href='#'>
                      <svg class='footer__sublist-img'>
                        <use xlink:href="img/sprite.svg#ig"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href='#'>
                      <svg class='footer__sublist-img'>
                        <use xlink:href="img/sprite.svg#yt"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="footer__list">
              <li class="footer__list-title title">
                Подписаться на рассылку
              </li>
              <li class="footer__list-item">
                <form class="footer__email-form" action="#">
                  <input class="footer__email-input" type="email" placeholder="Ваш Email">
                  <button class="footer__email-button">
                    ОК
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="footer__bottom">
        <div class="footer__copyright">
          Copyright © 2021 ООО “ОООООООО”. Все права защищены.
        </div>
        <a class="footer__conf" href="#">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>
