<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <a class="header__location contact" href='#map'>
          <div class="header__contact-img-outer">
            <svg class="header__contact-img">
              <use xlink:href='img/sprite.svg#location'></use>
            </svg>
          </div>
          г. Красногорск, ул. Мирная, д. 15
        </a>
        <div class="header__tel-write">
          <button class="header__tel contact telModalOpen">
            <div class="header__contact-img-outer">
              <svg class="header__contact-img">
                <use xlink:href='img/sprite.svg#tel'></use>
              </svg>
            </div>
            Заказать звонок
          </button>
          <button class="header__write contact writeModalOpen">
            <div class="header__contact-img-outer">
              <svg class="header__contact-img">
                <use xlink:href='img/sprite.svg#mail'></use>
              </svg>
            </div>
            Написать нам
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo-contacts-link">
          <a class="header__logo-outer" href="index.html">
            <img class="header__logo" src="img/logo.svg" alt="logo">
          </a>
          <div class="header__contact">
            +7 (123) 456-78-99
            <span class="header__contact-span">
              Ежедневно с 10:00 до 20:00
            </span>
          </div>
          <ul class="header__link-list">
            <li class="header__link-item">
              <a class="header__link" href="#">
                <svg class='header__link-img'>
                  <use xlink:href='img/sprite.svg#personal'></use>
                </svg>
                <span class="header__link-span">ЛК</span>
              </a>
            </li>
            <li class="header__link-item">
              <a class="header__link" href="#">
                <svg class='header__link-img'>
                  <use xlink:href='img/sprite.svg#favorite'></use>
                </svg>
                <span class="header__link-span">Любимое</span>
              </a>
            </li>
            <li class="header__link-item">
              <a class="header__link" href="cart.html">
                <svg class='header__link-img'>
                  <use xlink:href='img/sprite.svg#cart'></use>
                </svg>
                <span class="header__link-num">8</span>
                <span class="header__link-span">87878 ₽</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="header__product-menu-search">
          <a class="header__product" href='all.html'>
            <div class="header__img-outer">
              <img class="header__img" src="img/our-product.svg" alt="img">
            </div>
            Наши продукты
          </a>
          <ul class="header__menu">
            <li class="header__menu-item">
              <button class="header__menu-link" href="#">
                О нас
                <svg class='header__menu-link-down'>
                  <use xlink:href='img/sprite.svg#list-down'></use>
                </svg>
              </button>
              <ul class="header__menu-submenu">
                <li class="header__menu-submenu-item">
                  <a class="header__menu-submenu-link" href='all.html'>Все товары</a>
                </li>
                <li class="header__menu-submenu-item">
                  <a class="header__menu-submenu-link" href='one.html'>Карточка товара</a>
                </li>
              </ul>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#">
                Новинки
              </a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#">
                Акции
              </a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#">
                Поставщики
              </a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#">
                Отзывы
              </a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#">
                Контакты
              </a>
            </li>
          </ul>
          <form action="#" class="header__search-form">
            <input class="header__search-input" type="text" placeholder="Поиск">
            <button class="header__search-button">
              <svg class='header__search-button-img'>
                <use xlink:href='img/sprite.svg#search'></use>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-header">
    <div class="container">
      <div class="mobile-header__inner">
        <button class="mobile-header__menu-button">
          <span class="mobile-header__menu-button-span"></span>
        </button>
        <a class="mobile-header__logo-outer" href='index.html'>
          <img class="mobile-header__logo" src="img/logo-mobile.svg" alt="logo">
        </a>
        <div class="header__top-inner">
          <a class="header__location contact" href='#map'>
            <div class="header__contact-img-outer">
              <svg class="header__contact-img">
                <use xlink:href='img/sprite.svg#location'></use>
              </svg>
            </div>
          </a>
          <button class="header__tel contact telModalOpen">
            <div class="header__contact-img-outer">
              <svg class="header__contact-img">
                <use xlink:href='img/sprite.svg#tel'></use>
              </svg>
            </div>
          </button>
          <button class="header__write contact writeModalOpen">
            <div class="header__contact-img-outer">
              <svg class="header__contact-img">
                <use xlink:href='img/sprite.svg#mail'></use>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
    <nav class="mobile-header__menu-outer">
      <ul class="header__menu">
        <li class="header__menu-item">
          <button class="header__menu-link" href="#">
            О нас
            <svg class='header__menu-link-down'>
              <use xlink:href='img/sprite.svg#list-down'></use>
            </svg>
          </button>
          <ul class="header__menu-submenu">
            <li class="header__menu-submenu-item">
              <a class="header__menu-submenu-link" href='all.html'>Все товары</a>
            </li>
            <li class="header__menu-submenu-item">
              <a class="header__menu-submenu-link" href='one.html'>Карточка товара</a>
            </li>
          </ul>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Новинки
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Акции
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Поставщики
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Отзывы
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
