<section class="popular">
  <div class="container">
    <div class="popular__inner">
      <h3 class="popular__title title">
        Популярные блюда
      </h3>
      <div class="popular__card-outer">
        <div class="popular__card">
          <a class="popular__card-img-outer" href="#">
            <img class="popular__card-img" src="img/popular-1.png" alt="img">
          </a>
          <div class="popular__card-info">
            <a class="popular__card-title title" href="#">
              Сыр "Пенёчек с Вялеными томатами и Зеленью"
            </a> 
            <div class="popular__card-price-amount">
              <div class="popular__card-price">
                530 ₽
              </div>
              <div class="popular__card-amount-outer">
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
                <div class="popular__card-amount">0</div>
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="popular__card">
          <a class="popular__card-img-outer" href="#">
            <img class="popular__card-img" src="img/popular-2.png" alt="img">
          </a>
          <div class="popular__card-info">
            <a class="popular__card-title title" href="#">
              Уксус "Медово-перговый светлый"
            </a>
            <div class="popular__card-price-amount">
              <div class="popular__card-price">
                530 ₽
              </div>
              <div class="popular__card-amount-outer">
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
                <div class="popular__card-amount">0</div>
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="popular__card">
          <a class="popular__card-img-outer" href="#">
            <img class="popular__card-img" src="img/popular-3.png" alt="img">
          </a>
          <div class="popular__card-info">
            <a class="popular__card-title title" href="#">
              Салями Тартуфо Salame al Tartufo
            </a>
            <div class="popular__card-price-amount">
              <div class="popular__card-price">
                530 ₽
              </div>
              <div class="popular__card-amount-outer">
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
                <div class="popular__card-amount">0</div>
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="popular__card">
          <a class="popular__card-img-outer" href="#">
            <img class="popular__card-img" src="img/popular-4.png" alt="img">
          </a>
          <div class="popular__card-info">
            <a class="popular__card-title title" href="#">
              Варенье «Клюквенная тыква»
            </a>
            <div class="popular__card-price-amount">
              <div class="popular__card-price">
                530 ₽
              </div>
              <div class="popular__card-amount-outer">
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
                <div class="popular__card-amount">0</div>
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="popular__card">
          <a class="popular__card-img-outer" href="#">
            <img class="popular__card-img" src="img/popular-5.png" alt="img">
          </a>
          <div class="popular__card-info">
            <a class="popular__card-title title" href="#">
              Белперы в масле с томатами
            </a>
            <div class="popular__card-price-amount">
              <div class="popular__card-price">
                530 ₽
              </div>
              <div class="popular__card-amount-outer">
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
                <div class="popular__card-amount">0</div>
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="popular__card">
          <a class="popular__card-img-outer" href="#">
            <img class="popular__card-img" src="img/popular-6.png" alt="img">
          </a>
          <div class="popular__card-info">
            <a class="popular__card-title title" href="#">
              Макароны классические
            </a>
            <div class="popular__card-price-amount">
              <div class="popular__card-price">
                530 ₽
              </div>
              <div class="popular__card-amount-outer">
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/minus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
                <div class="popular__card-amount">0</div>
                <button class="popular__card-amount-btn amount-btn-down">
                  <img src="img/plus.svg" alt="img" class="popular__card-amount-btn-img">
                </button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>