<section class="product">
  <div class="container">
    <div class="product__inner">
      <div class="all-products__tab-btn-outer category">
        <a class="all-products__tab-btn" href="all.html">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-1.png" alt="img">
          </div>
          Консервация
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-2.png" alt="img">
          </div>
          Кондитерские изделия и десерты
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-3.png" alt="img">
          </div>
          Молочные продукты
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-4.png" alt="img">
          </div>
          Мясная гастрономия
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-1.png" alt="img">
          </div>
          Консервация
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-2.png" alt="img">
          </div>
          Кондитерские изделия
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-3.png" alt="img">
          </div>
          Молочные продукты
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-4.png" alt="img">
          </div>
          Мясная гастрономия
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-1.png" alt="img">
          </div>
          Консервация
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-3.png" alt="img">
          </div>
          Молочные продукты
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-2.png" alt="img">
          </div>
          Консервация
        </a>
        <a class="all-products__tab-btn" href="#">
          <div class="all-products__tab-btn-img-outer">
            <img class="all-products__tab-btn-img" src="img/popular-4.png" alt="img">
          </div>
          Кондитерские изделия
        </a>
      </div>
      <div class="product__tab-content-outer">
        <div class="product__tab-content">
          <div class="product__card">
            <div class="product__card-slider-outer">
              <div class="product__card-slider-navigation">
                <div class="product__card-slider-arrow-prev product__card-slider-arrow swiper-button-prev"></div>
                <div class="product__card-slider-pagination swiper-pagination">
                </div>
                <div class="product__card-slider-arrow-next product__card-slider-arrow swiper-button-next"></div>
              </div>
              <div class="product__card-slider swiper">
                <div class="product__card-slider-wrapper swiper-wrapper">
                  <div class="product__card-slider-slide swiper-slide">
                    <div class="product__card-slider-inner">
                      <img class="product__card-slider-img" src="img/product-card.jpg" alt="img">
                    </div>
                  </div>
                  <div class="product__card-slider-slide swiper-slide">
                    <div class="product__card-slider-inner">
                      <img class="product__card-slider-img" src="img/product-card.jpg" alt="img">
                    </div>
                  </div>
                  <div class="product__card-slider-slide swiper-slide">
                    <div class="product__card-slider-inner">
                      <img class="product__card-slider-img" src="img/product-card.jpg" alt="img">
                    </div>
                  </div>
                  <div class="product__card-slider-slide swiper-slide">
                    <div class="product__card-slider-inner">
                      <img class="product__card-slider-img" src="img/product-card.jpg" alt="img">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product__card-spec">
              <h5 class="product__card-spec-title">
                Паста с Чечевицей и Томатами по-неаполитански
              </h5>
              <div class="product__card-spec-vendor-price">
                <div class="product__card-spec-vendor">
                  Артикул:
                  <span class="product__card-spec-vendor-span">
                    РТ-00000000
                  </span>
                </div>
                <div class="product__card-spec-price">
                  <span class="product__card-spec-price-span">
                    1320 ₽
                  </span>
                  1230 ₽
                </div>
              </div>
              <div class="product__card-spec-to">
                <button class="product__card-spec-to-cart">
                  Добавить в корзину
                </button>
                <button class="product__card-spec-to-favorite">
                  <svg class='product__card-spec-to-favorite-img'>
                    <use xlink:href='img/sprite.svg#heart'></use>
                  </svg>
                  Добавить в<br>любимое
                </button>
              </div>
              <div class="product__card-spec-review">
                <div class="product__card-spec-review-star-outer">
                  <img class="product__card-spec-review-star" src="img/star-yellow.svg" alt="star">
                  <img class="product__card-spec-review-star" src="img/star-yellow.svg" alt="star">
                  <img class="product__card-spec-review-star" src="img/star-yellow.svg" alt="star">
                  <img class="product__card-spec-review-star" src="img/star-yellow.svg" alt="star">
                  <img class="product__card-spec-review-star" src="img/star-yellow.svg" alt="star">
                </div>
                <a class="product__card-spec-review-to" href='#review'>
                  (12) Оставить отзыв
                </a>
              </div>
              <div class="product__card-spec-char-outer">
                <div class="product__card-spec-char">
                  <div class="product__card-spec-char-img-outer">
                    <img class="product__card-spec-char-img" src="img/provider.svg" alt="img">
                  </div>
                  <div class="product__card-spec-char-title">
                    Поставщик продукта:
                  </div>
                  <a class="product__card-spec-char-link" href='#'>Александр Иванов</a>
                </div>
                <div class="product__card-spec-char">
                  <div class="product__card-spec-char-img-outer">
                    <img class="product__card-spec-char-img" src="img/weight.svg" alt="img">
                  </div>
                  <div class="product__card-spec-char-title">
                    Вес продукта:
                  </div>
                  <span class="product__card-spec-char-span">350 грамм</span>
                </div>
                <div class="product__card-spec-char">
                  <div class="product__card-spec-char-img-outer">
                    <img class="product__card-spec-char-img" src="img/composition.svg" alt="img">
                  </div>
                  <div class="product__card-spec-char-title">
                    Состав продукта:
                  </div>
                  <span class="product__card-spec-char-span">тыква, сахар, лимон, имбирь, тыква, сахар, лимон, имбирь,
                    тыква</span>
                </div>
              </div>
            </div>
          </div>
          <div class="product__card-tab-outer">
            <div class="product__card-tab-btn-outer">
              <button class="product__card-tab-btn" data-product-card-tab='#pct_1'>Описание</button>
              <button class="product__card-tab-btn" data-product-card-tab='#pct_2'>Характеристики</button>
              <button class="product__card-tab-btn" data-product-card-tab='#pct_3'>Отзывы(12)</button>
            </div>
            <div class="product__card-tab-content-outer">
              <div class="product__card-tab-content" id='pct_1'>
                <div class="product__card-descr">
                  <div class="product__card-descr-text">
                    Оригинальное сочетание тыквы, лимона и имбиря.<br>
                    Имбирь сообщает этому тыквенному варенью неожиданную теплую ноту, раскрываясь согревающим
                    послевкусием.<br>
                    Низкое содержание сахара.<br><br>
                  </div>
                  <div class="product__card-descr-title">
                    Польза имбиря:
                  </div>
                  <ul class="product__card-descr-list">
                    <li class="product__card-list-item">
                      нормализует пищеварение
                    </li>
                    <li class="product__card-list-item">
                      улучшает состояние дёсен и зубов и десен
                    </li>
                    <li class="product__card-list-item">
                      полезен для сердечно-сосудистой системы
                    </li>
                    <li class="product__card-list-item">
                      способствует снижению холестерина в крови
                    </li>
                    <li class="product__card-list-item">
                      улучшает память
                    </li>
                    <li class="product__card-list-item">
                      повышает общий тонус организма.
                    </li>
                  </ul><br>
                  <div class="product__card-descr-text">
                    Употребеление варенья из тыквы с лимоном и имбирём помогает похудеть и нормализовать метаболизм.
                    Самый популярный сорт в холодное время года.<br>
                    Тыква, входящая в состав варенья «Имбирная тыква» содержит: витамины группы B, A, С, D, E, F, PP, K,
                    пектины, каротин.<br>
                    Редчайший витамин Т, который улучшает усвоение тяжелой пищи, замедляет развитие атеросклероза,
                    снижает уровень «плохого» холестерина в организме.<br>
                    Макро- и микроэлементы: железо, калий, кальций, магний, медь, фосфор, кобальт; клетчатку;
                    растительные сахара.
                  </div>
                </div>
              </div>
              <div class="product__card-tab-content" id='pct_2'>
                <table class="product__card-table">
                  <tr>
                    <td>
                      Состав
                    </td>
                    <td>
                      белая черешня, сахар.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Вес нетто
                    </td>
                    <td>
                      130 грамм
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Вес брутто
                    </td>
                    <td>
                      250 грамм
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Материал упаковки
                    </td>
                    <td>
                      Стеклянная банка
                    </td>
                  </tr>
                </table>
              </div>
              <div class="product__card-tab-content" id='pct_3'>
                <div class="product__card-review">
                  <div class="product__card-review-name-date-star">
                    <div class="product__card-review-name-date">
                      <div class="product__card-review-name">
                        Адиль Каирбеков
                      </div>
                      <div class="product__card-review-date">
                        20 сентября 2021г.
                      </div>
                    </div>
                    <div class="product__card-review-star-outer">
                      <img class="product__card-review-star" src="img/star-yellow.svg" alt="star">
                      <img class="product__card-review-star" src="img/star-yellow.svg" alt="star">
                      <img class="product__card-review-star" src="img/star-yellow.svg" alt="star">
                      <img class="product__card-review-star" src="img/star-yellow.svg" alt="star">
                      <img class="product__card-review-star" src="img/star-yellow.svg" alt="star">
                    </div>
                  </div>
                  <div class="product__card-review-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product__write" id='review'>
            <h6 class="product__write-title">
              Написать отзыв
            </h6>
            <div class="product__write-form-outer">
              <form class="product__write-form" action="#">
                <label class="product__write-label">
                  Ваше имя
                  <input class="product__write-input" type="text">
                </label>
                <label class="product__write-label">
                  Ваш Email или телефон
                  <input class="product__write-input" type="text">
                </label>
                <label class="product__write-label">
                  Ваш отзыв
                  <textarea class='product__write-textarea' name="textarea" id="textarea"></textarea>
                </label>
                <div class="product__write-rating-button">
                  <div class="product__write-rating">
                    Выставить рейтинг:
                    <div class="product__write-radio-wrapper">
                      <div class="product__write-radio-outer">
                        <input class="product__write-radio" type="radio" value='5' name='rating' id='rating_5'>
                        <label class="product__write-radio-label" for="rating_5"></label>
                        <input class="product__write-radio" type="radio" value='4' name='rating' id='rating_4'>
                        <label class="product__write-radio-label" for="rating_4"></label>
                        <input class="product__write-radio" type="radio" value='3' name='rating' id='rating_3'>
                        <label class="product__write-radio-label" for="rating_3"></label>
                        <input class="product__write-radio" type="radio" value='2' name='rating' id='rating_2'>
                        <label class="product__write-radio-label" for="rating_2"></label>
                        <input class="product__write-radio" type="radio" value='1' name='rating' id='rating_1'>
                        <label class="product__write-radio-label" for="rating_1"></label>
                      </div>
                    </div>
                  </div>
                  <button class="product__write-button">Отправить отзыв</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
