<section class="suppliers" style='background-image: url(img/suppliers-bg.png);'>
  <div class="container">
    <div class="suppliers__inner">
      <h3 class="suppliers__title title">
        Наши поставщики
      </h3>
      <a class="suppliers__link" href="#">
        Все поставщики
      </a>
      <div class="suppliers__slider swiper">
        <div class="suppliers__slider-wrapper swiper-wrapper">
          <div class="suppliers__slider-slide swiper-slide">
            <div class="suppliers__slider-inner">
              <div class="suppliers__slider-text">
                Борис Спиваков  фермер из солнечного Краснодарского края, поля его семьи находятся в предгорной местности Крымского района, ст. Киевская.  Семья Спиваковых начала заниматься земледелием в далеком 1992 г., когда отец Бориса закончил свою карьеру в нефтедобывающей сфере.
              </div>
              <div class="suppliers__slider-img-outer">
                <img class="suppliers__slider-img" src="img/suppliers-1.png" alt="img">
              </div>
              <div class="suppliers__slider-title title">
                Борис Спиваков
              </div>
              <div class="suppliers__slider-subtitle">
                Овощи и фрукты
              </div>
            </div>
          </div>
          <div class="suppliers__slider-slide swiper-slide">
            <div class="suppliers__slider-inner">
              <div class="suppliers__slider-text">
                Борис Спиваков  фермер из солнечного Краснодарского края, поля его семьи находятся в предгорной местности Крымского района, ст. Киевская.  Семья Спиваковых начала заниматься земледелием в далеком 1992 г., когда отец Бориса закончил свою карьеру в нефтедобывающей сфере.
              </div>
              <div class="suppliers__slider-img-outer">
                <img class="suppliers__slider-img" src="img/suppliers-2.png" alt="img">
              </div>
              <div class="suppliers__slider-title title">
                Борис Спиваков
              </div>
              <div class="suppliers__slider-subtitle">
                Овощи и фрукты
              </div>
            </div>
          </div>
          <div class="suppliers__slider-slide swiper-slide">
            <div class="suppliers__slider-inner">
              <div class="suppliers__slider-text">
                Борис Спиваков  фермер из солнечного Краснодарского края, поля его семьи находятся в предгорной местности Крымского района, ст. Киевская.  Семья Спиваковых начала заниматься земледелием в далеком 1992 г., когда отец Бориса закончил свою карьеру в нефтедобывающей сфере.
              </div>
              <div class="suppliers__slider-img-outer">
                <img class="suppliers__slider-img" src="img/suppliers-3.png" alt="img">
              </div>
              <div class="suppliers__slider-title title">
                Борис Спиваков
              </div>
              <div class="suppliers__slider-subtitle">
                Овощи и фрукты
              </div>
            </div>
          </div>
          <div class="suppliers__slider-slide swiper-slide">
            <div class="suppliers__slider-inner">
              <div class="suppliers__slider-text">
                Борис Спиваков  фермер из солнечного Краснодарского края, поля его семьи находятся в предгорной местности Крымского района, ст. Киевская.  Семья Спиваковых начала заниматься земледелием в далеком 1992 г., когда отец Бориса закончил свою карьеру в нефтедобывающей сфере.
              </div>
              <div class="suppliers__slider-img-outer">
                <img class="suppliers__slider-img" src="img/suppliers-1.png" alt="img">
              </div>
              <div class="suppliers__slider-title title">
                Борис Спиваков
              </div>
              <div class="suppliers__slider-subtitle">
                Овощи и фрукты
              </div>
            </div>
          </div>
          <div class="suppliers__slider-slide swiper-slide">
            <div class="suppliers__slider-inner">
              <div class="suppliers__slider-text">
                Борис Спиваков  фермер из солнечного Краснодарского края, поля его семьи находятся в предгорной местности Крымского района, ст. Киевская.  Семья Спиваковых начала заниматься земледелием в далеком 1992 г., когда отец Бориса закончил свою карьеру в нефтедобывающей сфере.
              </div>
              <div class="suppliers__slider-img-outer">
                <img class="suppliers__slider-img" src="img/suppliers-1.png" alt="img">
              </div>
              <div class="suppliers__slider-title title">
                Борис Спиваков
              </div>
              <div class="suppliers__slider-subtitle">
                Овощи и фрукты
              </div>
            </div>
          </div>
        </div>
        <div class="suppliers__slider-pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
